<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F2F7E4298916DFDAD0CEC249980C2FED35E151BE</string>
				<key>dateExpires</key>
				<string>7/17/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F2F7E4298916DFDAD0CEC249980C2FED35E151BE</string>
						<key>dateExpires</key>
						<string>7/17/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RBYTPMJ3P6</string>
						<key>name</key>
						<string>Yuxin Fan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F2F7E4298916DFDAD0CEC249980C2FED35E151BE</string>
						<key>dateExpires</key>
						<string>7/17/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RBYTPMJ3P6</string>
						<key>name</key>
						<string>Yuxin Fan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F2F7E4298916DFDAD0CEC249980C2FED35E151BE</string>
						<key>dateExpires</key>
						<string>7/17/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RBYTPMJ3P6</string>
						<key>name</key>
						<string>Yuxin Fan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F2F7E4298916DFDAD0CEC249980C2FED35E151BE</string>
						<key>dateExpires</key>
						<string>7/17/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RBYTPMJ3P6</string>
						<key>name</key>
						<string>Yuxin Fan</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F2F7E4298916DFDAD0CEC249980C2FED35E151BE</string>
						<key>dateExpires</key>
						<string>7/17/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RBYTPMJ3P6</string>
						<key>name</key>
						<string>Yuxin Fan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F2F7E4298916DFDAD0CEC249980C2FED35E151BE</string>
						<key>dateExpires</key>
						<string>7/17/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RBYTPMJ3P6</string>
						<key>name</key>
						<string>Yuxin Fan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F2F7E4298916DFDAD0CEC249980C2FED35E151BE</string>
						<key>dateExpires</key>
						<string>7/17/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RBYTPMJ3P6</string>
						<key>name</key>
						<string>Yuxin Fan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RBYTPMJ3P6.pro.travelexpense.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>RBYTPMJ3P6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>850bf914-5343-45bf-8758-e117668e0497</string>
				<key>dateExpires</key>
				<string>7/30/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: pro.travelexpense.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RBYTPMJ3P6</string>
				<key>name</key>
				<string>Yuxin Fan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
